<ion-header>
    <ion-toolbar color="success">
        <ion-buttons>
        </ion-buttons>
        <ion-title>EasyCall</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content color="success">

    <div class="n1">
        <ion-text>
            <ion-icon name="settings"></ion-icon>
            EasyCall
        </ion-text>

        <br><br><br>
    </div>


    <ion-button color="dark" expand="block" fill="outline " (click)="showScreen('cadastro-page')">Cadastrar easyCall</ion-button>
    <br>
    <ion-button color="dark" expand="block" fill="outline" (click)="showScreen('login-page')">Login EasyCall</ion-button>




</ion-content>