<ion-header [translucent]="true" color="success">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Easy Call</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="success">
    <ion-header collapse="condense" color="success">
        <ion-toolbar color="success">
            <ion-title size="large">{{ folder }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong class="capitalize">{{ folder }}</strong>
        <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    </div>
</ion-content>