<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Cadastro Setor</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="success">

    <ion-item color="success">
        <ion-input required type="text" [(ngModel)]="setor.descricao" placeholder=" Nome do Setor"></ion-input>
    </ion-item>
    <ion-item color="success">
        <ion-label style=" color: black;">
            <ion-icon slot="end" name="location"></ion-icon>Setor</ion-label>
        <ion-select style=" color: black;" okText="Ok" cancelText="Sair" [(ngModel)]="setor.descricao">
            <ion-select-option *ngFor="let setor of setores" [value]="setor.descricao">{{ setor.descricao }}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item *ngFor=" let setor of setores" color="success">
        <ion-label color="dark">{{setor.descricao}}</ion-label>

    </ion-item>

</ion-content>


<ion-footer>
    <ion-toolbar color="success">
        <ion-button (click)="saveSetor()" expand="block" color="dark">
            Cadastrar Setor
        </ion-button>
    </ion-toolbar>
</ion-footer>