<ion-header>
    <ion-toolbar color="success">
        <ion-buttons>
            <ion-back-button slot="start" color="dark"></ion-back-button>
        </ion-buttons>
        <ion-title>Relatórios Manuteção</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="success">

    <ion-card router-direction="back" color="danger">
        <img src="./assets\icon\date.png" />
        <ion-card-header>
            <ion-item color="danger">
                <ion-button color="dark" expand="block"> Relatório por Data
                </ion-button>
            </ion-item>
        </ion-card-header>
    </ion-card>
    <br>
    <ion-card router-direction="back" color="danger">
        <img src="./assets\icon\system.png" />

        <ion-card-header>
            <ion-item color="danger">
                <ion-button color="dark" expand="block" (click)="showScreen('relatorio-equipamentos')"> Equipamentos
                </ion-button>
            </ion-item>
        </ion-card-header>
    </ion-card>

    <br>
    <ion-card router-direction="back" color="danger">
        <img src="./assets\icon\users.png" />
        <ion-card-header>
            <ion-item color="danger">
                <ion-button color="dark" expand="block" (click)="showScreen('relatorio-ordens')"> Relatório de Ordem de Serviços
                </ion-button>
            </ion-item>
        </ion-card-header>
    </ion-card>

    <br>
    <ion-card router-direction="back" color="danger">
        <img src="./assets\icon\setor.png" />
        <ion-item color="danger">
            <ion-button color="dark" expand="block"> Relatório por Setor
            </ion-button>
        </ion-item>
    </ion-card>

</ion-content>
<ion-item color="dark">
    <ion-tabs color="dark">
        <ion-tab-bar slot="bottom" color="dark">
            <ion-tab-button (click)="rota('Aguardando...')">
                <ion-icon name="document-text" color="success"></ion-icon>
                <ion-label>Os Em Espera</ion-label>
                <ion-badge color="danger">{{contaAguarde}}</ion-badge>
            </ion-tab-button>

            <ion-tab-button (click)="showScreen('home-page')">
                <ion-icon name="home" color="success"></ion-icon>Pagina Inicial
            </ion-tab-button>

            <ion-tab-button (click)="rota('Em Execução')">
                <ion-icon name="document-text" color="success"></ion-icon>
                <ion-label>Os Em Execução </ion-label>
                <ion-badge color="warning">{{contaExecucao}}</ion-badge>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-item>