<ion-header>
    <ion-toolbar color="success">
        <ion-buttons>
            <ion-back-button slot="start" color="dark"></ion-back-button>
        </ion-buttons>
        <ion-title>Relatórios Manuteção</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="success">

    <ion-card router-direction="back" color="danger">
        <img src="./assets\icon\date.png" />
        <ion-card-header>
            <ion-item color="danger">
                <ion-button color="dark" expand="block"> Relatório por Data
                </ion-button>
            </ion-item>
        </ion-card-header>
    </ion-card>
    <br>
    <ion-card router-direction="back" color="danger">
        <img src="./assets\icon\furadeira.png" />
        <img src="./assets\icon\grafico.png" />
        <ion-card-header>
            <ion-item color="danger">
                <ion-button color="dark" expand="block" (click)="showScreen('relatorio-equipamentos')"> Equipamentos
                </ion-button>
            </ion-item>
        </ion-card-header>
    </ion-card>

    <br>
    <ion-card router-direction="back" color="danger">
        <img src="./assets\icon\users.png" />
        <ion-card-header>
            <ion-item color="danger">
                <ion-button color="dark" expand="block" (click)="showScreen('relatorio-ordens')"> Relatório de Ordem de Serviços
                </ion-button>
            </ion-item>
        </ion-card-header>
    </ion-card>

    <br>
    <ion-card router-direction="back" color="danger">
        <img src="./assets\icon\setor.png" />
        <ion-item color="danger">
            <ion-button color="dark" expand="block"> Relatório por Setor
            </ion-button>
        </ion-item>
    </ion-card>

</ion-content>