<ion-header>
    <ion-toolbar color="success">
        <ion-buttons>
            <ion-back-button slot="start" color="dark"></ion-back-button>
        </ion-buttons>
        <ion-title>Cadastro de Area</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="success">


    <ion-item color="success">
        <ion-label color="dark">Nome da Area:</ion-label>
        <ion-input type="text" [(ngModel)]="area.descricao"></ion-input>
    </ion-item>


    <ion-button (click)="saveArea()" color="dark" expand="block">Cadastrar</ion-button>


</ion-content>