<ion-header>
    <ion-toolbar color="success">
        <ion-buttons>
            <ion-back-button slot="start" color="dark"></ion-back-button>
        </ion-buttons>
        <ion-title>Relatório Equipamentos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="success">

    <ion-card color="danger" *ngFor=" let equipamento of ordemList">
        <ion-card-header>
            <ion-card-title><b>Equipamento: </b>{{equipamento.descricao }}</ion-card-title>
            <ion-card-title><b>Setor: </b>{{ equipamento.setor}}</ion-card-title>

            <ion-item>
                <ion-label><b>Tempo de parada:</b> {{equipamento.tempo}} minutos</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><b>Quantidade de parada:</b> {{equipamento.qtdParada}} </ion-label>
            </ion-item>
            <ion-item *ngIf="equipamento.setor === 'Silos'">
                <ion-label><b>Disponibilidade:{{ ((dispSilos - equipamento.tempo)/ equipamento.tempo * ( (equipamento.tempo/dispSilos ) * 100 )) | number}}%</b> </ion-label>
            </ion-item>

            <ion-item *ngIf="equipamento.setor === 'Puncionadeira5000'">
                <ion-label><b>Disponibilidade: {{dispPul5}}</b> </ion-label>
            </ion-item>

            <ion-item *ngIf="equipamento.setor === 'Puncionadeira1000'">
                <ion-label><b>Disponibilidade: {{dispPul1}}</b> </ion-label>
            </ion-item>

            <ion-item *ngIf="equipamento.setor === 'Corte e Dobra'">
                <ion-label><b>Disponibilidade:{{ ((dispCorteDobra - equipamento.tempo)/ equipamento.tempo * ( (equipamento.tempo/dispCorteDobra ) * 100 )) | number}}%</b> </ion-label>
            </ion-item>

            <ion-item *ngIf="equipamento.setor === 'Corte Perfil'">
                <ion-label><b>Disponibilidade: {{dispPerfil}}</b> </ion-label>
            </ion-item>

            <ion-item *ngIf="equipamento.setor === 'Pintura Automática'">
                <ion-label><b>Disponibilidade: {{dispPintA}}</b> </ion-label>
            </ion-item>

            <ion-item *ngIf="equipamento.setor === 'Pintura Manual'">
                <ion-label><b>Disponibilidade: {{dispPintM}}</b> </ion-label>
            </ion-item>

            <ion-item *ngIf="equipamento.setor === 'Laser'">
                <ion-label><b>Disponibilidade:{{ ((dispLaser - equipamento.tempo)/ equipamento.tempo * ( (equipamento.tempo/dispLaser ) * 100 )) | number}}%</b> </ion-label>

            </ion-item>

            <ion-item *ngIf="equipamento.setor === 'Penddinghaus'">
                <ion-label><b>Disponibilidade: {{dispPend}}</b> </ion-label>
            </ion-item>


            <ion-item>
                <ion-label><b>Tempo total de resposta:</b>{{equipamento.accResposta}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><b>Média tempo de resposta:</b>{{equipamento.accResposta / equipamento.qtdParada}}</ion-label>
            </ion-item>
        </ion-card-header>
        <label>minimo:0</label>
        <ion-range min="0" max="800" color="warning" pin="true" step="1" diseble="true" snaps="true" ticks="true" [value]="equipamento.tempo">{{equipamento.tempo}}
            <ion-icon size="" color="warning" slot="end" name="analytics-sharp"></ion-icon>
            <ion-icon size="" color="success" slot="start" name="analytics-sharp"></ion-icon>
        </ion-range><label>Max:800 </label>

    </ion-card>


    <!-- <ion-item *ngFor=" let equipamento of ordemList" color="dark">
        <ion-item color="dark">
            <ion-label>{{equipamento.tempo}}</ion-label>
        </ion-item>
        <ion-label>{{equipamento.descricao}} </ion-label>
        <br>
        <ion-item color="dark">
            <ion-label>Min=0</ion-label>
        </ion-item>
        <ion-range min="0" max="100" color="warning" pin="true" step="2" diseble="true" snaps="true" ticks="true" [value]="equipamento.tempo">{{equipamento.tempo}}
            <ion-icon size="small" color="success" slot="start" name="analytics-sharp"></ion-icon>
            <ion-icon slot="end" color="danger" name="analytics-sharp"></ion-icon>
        </ion-range>
        <ion-item color="dark">
            <ion-label>{{equipamento.qtdParada}}</ion-label>
        </ion-item>
    </ion-item> -->



</ion-content>