<ion-header>
    <ion-toolbar color="success">
        <ion-buttons>
            <ion-back-button slot="start" color="dark"></ion-back-button>
        </ion-buttons>
        <ion-title>Relatório Equipamentos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="success">

    <ion-card color="danger" *ngFor=" let equipamento of ordemList">
        <ion-card-header>
            <ion-card-title>{{equipamento.descricao}}</ion-card-title>
            <ion-item>
                <ion-label><b>Tempo de parada:</b> {{tempodeParada}} minutos</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><b>Quantidade de parada:</b> {{equipamento.qtdParada}} </ion-label>
            </ion-item>
            <ion-item>
                <ion-label><b>Disponibilidade:{{ ((800 - equipamento.tempo)/ equipamento.tempo * ( (equipamento.tempo/800) * 100 )) | number}}%</b> </ion-label>
            </ion-item>
            <ion-item>
                <ion-label><b>Tempo total de resposta:</b>{{equipamento.accResposta}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><b>Média tempo de resposta:</b>{{equipamento.accResposta}}</ion-label>
            </ion-item>
        </ion-card-header>
        <label>minimo:0</label>
        <ion-range min="0" max="800" color="warning" pin="true" step="1" diseble="true" snaps="true" ticks="true" [value]="equipamento.tempo">{{equipamento.tempo}}
            <ion-icon size="" color="warning" slot="end" name="analytics-sharp"></ion-icon>
            <ion-icon size="" color="success" slot="start" name="analytics-sharp"></ion-icon>
        </ion-range><label>Max:800 </label>

    </ion-card>


    <!-- <ion-item *ngFor=" let equipamento of ordemList" color="dark">
        <ion-item color="dark">
            <ion-label>{{equipamento.tempo}}</ion-label>
        </ion-item>
        <ion-label>{{equipamento.descricao}} </ion-label>
        <br>
        <ion-item color="dark">
            <ion-label>Min=0</ion-label>
        </ion-item>
        <ion-range min="0" max="100" color="warning" pin="true" step="2" diseble="true" snaps="true" ticks="true" [value]="equipamento.tempo">{{equipamento.tempo}}
            <ion-icon size="small" color="success" slot="start" name="analytics-sharp"></ion-icon>
            <ion-icon slot="end" color="danger" name="analytics-sharp"></ion-icon>
        </ion-range>
        <ion-item color="dark">
            <ion-label>{{equipamento.qtdParada}}</ion-label>
        </ion-item>
    </ion-item> -->



</ion-content>