<ion-header>
    <ion-toolbar color="success">
        <ion-buttons>
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="success">

    <div class="n1">
        <ion-text>
            <ion-icon name="settings"></ion-icon>
            EasyCall
        </ion-text>

        <br><br>
    </div>


    <ion-button color="dark" expand="block" fill="outline " (click)="showScreen('')">Abrir O.S</ion-button>
    <br>
    <ion-button color="dark" expand="block" fill="outline" (click)="showScreen('')">Enviar Mensagem</ion-button>
    <br>
    <ion-button color="dark" expand="block" fill="outline" (click)="showScreen('')">Status O.S</ion-button>
    <br>
    <ion-button color="dark" expand="block" fill="outline" (click)="showScreen('')">O.S Manutenção</ion-button>
    <br>
    <ion-button color="dark" expand="block" fill="outline" (click)="showScreen('')">Relatórios</ion-button>
    <br><br>
    <ion-button fill="outline" expand="block" color="dark" (click)="logOut()">
        <ion-icon name="backspace-sharp"></ion-icon>Sair
    </ion-button>


</ion-content>