<ion-header>
    <ion-toolbar color="success">
        <ion-buttons>
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>

</ion-header>

<ion-content color="success">

    <div class="n1">
        <ion-text>
            <ion-icon name="settings"></ion-icon>
            EasyCall
        </ion-text>

    </div>
    <br>

    <ion-button color="dark" expand="block" fill="outline " (click)="showScreen('abrir-os-page')">Abrir O.S</ion-button>
    <br>
    <!-- <ion-button color="dark" expand="block" fill="outline" (click)="showScreen('menssagem-page')">Enviar Menssagem</ion-button> -->

    <ion-button color="dark" expand="block" fill="outline " (click)="showScreen('usuarios-page')">Usuários/Mensagens</ion-button>
    <br>
    <ion-button color="dark" expand="block" fill="outline" (click)="showScreen('status-os-page')">Status O.S</ion-button>
    <br>
    <ion-button color="dark" expand="block" fill="outline" (click)="blockPage('manutencao')">Area de Manutenção</ion-button>
    <br>
    <ion-button color="dark" expand="block" (click)="blockPage('manutencao')">Area de Supervição e Liderança</ion-button>
    <br>


</ion-content>

<ion-footer color="success">
    <ion-toolbar color="success">
        <ion-button expand="block" color="dark" (click)="logOut()">
            <ion-icon name="backspace-sharp"></ion-icon>Sair
        </ion-button>
    </ion-toolbar>
</ion-footer>