<ion-header>
    <ion-toolbar color="success">
        <ion-buttons>
            <ion-back-button slot="start" color="dark"></ion-back-button>
        </ion-buttons>
        <ion-title>Usuarios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="success">

    <div class="n1">
        <ion-text>
            <ion-icon name="settings"></ion-icon>
            EasyCall
        </ion-text>
        <br>
    </div>

    <ion-list color="dark">
        <ion-item (click)="irPaginaMensagens(usuario.userId)" *ngFor="let usuario of listausuarios" color="dark">
            <ion-text color="success">{{usuario.nome}}</ion-text>
        </ion-item>
    </ion-list>

</ion-content>